<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <title>Upload 3D Model</title>
</head>
<body>
    <h1>Upload 3D Model (.glb)</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>

    {% if qr_code_path %}
    <h2>Scan the QR Code to view the 3D Model:</h2>
    <img src="{{ qr_code_path }}" alt="QR Code">
    {% endif %}
</body>
</html>
